{% extends 'base.html' %}

{% block title %}Добавление задачи{% endblock %}

{% block content %}
    <div class="container main-container">
        <form action="{% url 'task_add' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <h2 class="add-h2 padding-left">Добавление задачи разведкорпусу</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <label for="title" class="form-label padding-left padding-top">Введите заголовок</label>
                    <input type="text" id="title" name="title" class="form-control padding-left"
                           placeholder="Отбить стену Роза">
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <label for="description" class="form-label padding-left padding-top">Введите описание</label>
                    <textarea name="description" id="description" cols="10" rows="4" class="form-control padding-left">
                </textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <label for="detailed_description" class="form-label padding-left padding-top">Введите подробное
                        описание</label>
                    <textarea name="detailed_description" id="detailed_description" cols="30" rows="7"
                              class="form-control padding-left">
                </textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <label for="disabledSelect" class="form-label padding-left padding-top">Выберите статус
                        задачи</label>
                    <select id="disabledSelect" class="form-select padding-left" name="status">
                        {% for choice in choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <label for="date" class="form-label padding-left padding-top">Введите дату формата
                        "YYYY-mm-dd"</label>
                    <input type="text" id="date" name="date" class="form-control padding-left" placeholder="2019-12-19">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary padding-left padding-top">Добавить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

